[submodule "resource/xh035-3V3"]
	path = resource/xh035-3V3
	url = git@gitlab-forschung.reutlingen-university.de:eda/ace-xh035-3v3.git
[submodule "resource/generic-5V"]
	path = resource/generic-5V
	url = git@github.com:matthschw/ace-generic-5V.git
[submodule "resource/generic-1V"]
	path = resource/generic-1V
	url = git@github.com:matthschw/ace-generic-1V.git
